body {
  margin: 0 20%;
}
h1 {
  font-size: 50px;
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 38px;
  color: rgb(98, 98, 98);
  font-family: "Golos Text", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 32px;
  color: rgb(24, 24, 24);
  font-family: "Golos Text", sans-serif;
  font-weight: 700;
  margin-top: 60px;
}

h4 {
  font-size: 20px;
  color: rgb(241, 129, 44);
  font-family: "Golos Text", sans-serif;
  font-weight: 600;
  margin: 0 10px;
}

p {
  color: rgb(55, 55, 55);
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

/* Media queries for responsive font sizes */

@media only screen and (max-width: 990px) {

  body {
    margin: 0 5%;
  }

  h1 {
    font-size: 28px;
    margin-top: 10px;
  }

  h2 {
    font-size: 24px;
    margin-top: 20px;
  }

  h3 {
    font-size: 18px;
    margin-top: 20px;
  }

  h4 {
    font-size: 18px;
  }

  p{
    font-size: 15px;
  }

  ol{
    font-size: 15px;
  }

  ul{
    font-size: 15px;
  }

  .project-subtitle{
    font-size: 18px;
  }

  .project-type-subtitle{
    font-size: 15px;
  }
  
.box-title {
  font-size: 28px;
}
.menu-ul {
  font-size: 15px;
}

.box-image {
  width: 40%
}

summary {
  font-size: 15px;
}

.intro-title {
  font-size: 35px;
}

.intro-section-title {
  font-size: 25px;
}

.intro-subtitle {
  font-size: 20px;
}
.about-intro-text {
  font-size: 18px;
}

.download-link {
  font-size: 22px;
}
}


@media only screen and (min-width: 991px) and (max-width: 2048px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 38px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 20px;
  }

  p{
    font-size: 18px;
  }

  ol{
    font-size: 18px;
  }

  ul{
    font-size: 18px;
  }

  .menu-ul {
    font-size: 20px;
  }

  .box-image {
    width: 30%
  }

  summary {
    font-size: 16px;
  }
  
  .intro-title {
    font-size: 50px;
  }

  .intro-section-title {
    font-size: 40px;
  }

  .intro-subtitle {
    font-size: 22px;
  }

  .about-intro-text {
    font-size: 24px;
  }

  .box-subtitle{
    font-size: 23px;
  }

  .download-link {
    font-size: 28px;
  }
}

@media only screen and (min-width: 2049px) {
  h1 {
    font-size: 68px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 45px;
  }

  h4 {
    font-size: 30px;
  }

  p{
    font-size: 25px;
  }

  ol{
    font-size: 25px;
  }

  ul{
    font-size: 25px;
  }
  .menu-ul {
    font-size: 30px;
  }

  .box-image {
    width: 30%
  }

  summary {
    font-size: 20px;
  }

  .intro-title {
    font-size: 70px;
  }

  .intro-section-title {
    font-size: 50px;
  }

  .intro-subtitle {
    font-size: 30px;
  }

  .about-intro-text {
    font-size: 30px;
  }

.download-link {
  font-size: 35px;
}

}

/* other links */

a:link {
  color: rgb(79, 0, 249);
  text-decoration: underline;
}
a:visited {
  color: rgb(79, 0, 249);
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
  font-weight: 700;
}

/* download link */

.download-link {
  font-family: "Lato", sans-serif;
}

/* lists */

ul {
  list-style-type: none;
  list-style-position: outside;
  padding: 0 0 0 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 2px;
}

ul li {
  padding: 5px 0;
}

ol {
  list-style-position: outside;
  padding: 0 0 0 30px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-top: 2px;
  color: #333;
}

ol li {
  padding: 5px 0;
}


hr {
  border-color: rgb(218, 218, 218);
  color: rgb(234, 234, 234);
}

/* color title text */
.color-title-psp{
  color: rgb(9, 99, 189);
}

.color-title-sands{
  color:rgb(5, 5, 145);
}

.color-title-orbit{
  color:rgb(101, 12, 227);
}

.color-title-toz{
  color:rgb(235, 122, 27);
}

.color-title-dry{
  color:rgb(211, 0, 0);
}

.color-title-enzo{
  color:rgb(219, 0, 153);
}

.color-title-mobile-lab{
  color:rgb(241, 129, 44);;
}

.color-title-cabinet{
  color:rgb(167, 214, 25);;
}

.color-title-inflatable{
  color:rgb(237, 201, 20);;
}


/* intro text */

.intro-title {
  font-weight: 700;
  text-align: left;
  color: rgb(24, 24, 24);
}

.intro-subtitle {
  font-weight: 400;
  text-align: left;
  color: rgb(98, 98, 98);
  margin-top: 20px;
}

.intro-section-title {
  font-weight: 600;
  color:rgb(24, 24, 24);
  text-align: center;
}

.project-subtitle {
  color: rgb(24, 24, 24);
  text-align: center;
  font-weight: 400;
}

.project-type-subtitle {
  color: rgb(98, 98, 98);
  text-align: center;
  font-weight: 400;
}

.about-intro-text {
  font-weight:400;
  color:rgb(24, 24, 24); 
  text-align: left;
}

/* navigation menu */

.menu-ul {
  padding: 0.5em 0.5em;
  padding-left: 0;
  margin: 1em 1em 1em 0;
  font-weight: 400;
  /*font-size: 25px;*/

    /* Add Flexbox properties */
    display: flex;           /* Turn ul into a flex container */
    list-style-type: none;   /* Remove default list styling */
    align-items: center;     /* Vertically align items (optional) */
}


.menu-li {
  padding: 0.5em 1.5em;
  display: inline-block;
  padding-left: 0;
}


.menu-li.align-right {
  margin-left: auto; /* Pushes this item to the right */
}


/* navigation links */

a.menu-link {
  color:rgb(24, 24, 24); 
  text-decoration: none;
}

a.menu-link:visited {
  color:rgb(24, 24, 24); 
  text-decoration:none;
}

a.menu-link:hover{
  font-weight:900;
}


/* project box */

.box {
  border: 3px solid #353535;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: left;
  width: 90%;
  margin: 20px 0;
  position: relative; /* Add this to make the hover image absolute */
  overflow: hidden; /* Hide the overflow of the hover image */
}


.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0;  
  transition: opacity 0.3s ease; 
  object-fit: cover; 
}



.hover-image img {
  width: inherit;
  height: inherit;
  object-fit: inherit;
}

.box:hover .hover-image {
  opacity: 1;
}


.box:hover {
  border: 3px solid #353535;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/*
.box:hover.box-psp{
  background-color: rgb(35, 255, 233);
}

.box:hover.box-sands{
  background-color: rgb(245, 196, 0);
}

.box:hover.box-toz{
  background-color: rgb(245, 139, 0);
}

.box:hover.box-orbit{
  background-color: rgb(184, 0, 245);
}

.box:hover.box-matchbox{
  background-color: rgb(0, 172, 158);
}

.box:hover.box-igni{
  background-color: rgb(244, 4, 104);
}

.box:hover.box-df{
  background-color: rgb(40, 255, 83);
}

.box:hover.box-drynoon{
  background-color: rgb(246, 48, 48);
}

.box:hover.box-game{
  background-color: rgb(115, 137, 231);
}

.box:hover.box-enzo{
  background-color: rgb(240, 104, 199);
}

.box:hover.box-mobile-lab{
  background-color: rgb(255, 170, 136);
}

.box:hover.box-cabinet{
  background-color: rgb(132, 240, 0);
}

*/
.box-text {
  flex: 1;
}

.box-image {
  float: right;
  margin-left: 10px;
}

.box-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

.box-title {
  font-weight: 500;
  margin-bottom: 5px;
  font-family: "Golos Text", sans-serif;
  margin-top: 0;
  padding-top: 0px;
  color:rgb(24, 24, 24);
}

.box-subtitle {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  padding-top: 0px;
  color:rgb(24, 24, 24);
  margin: 0 0 10px 0;
}

.box-paragraph {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color:#6d6d6d;
}

a.box-link {
  color:rgb(24, 24, 24);
  text-decoration: none;
}
a.box-link:visited{
  color:rgb(24, 24, 24);
  text-decoration: none;
}

/* Style the summary element */
summary {
  font-family: 'Lato', sans-serif;
  color: #aeaeae;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

details:hover summary {
  font-weight: 800;
  cursor: pointer;
}

.vertical-video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Example margin-top */
    margin-bottom: 20px; /* Example margin-bottom */
}
.vertical-video-container video {
    width: 50%; /* Adjust the width as needed */
}

.vertical-video-text {
      text-align: center;
      font-size: 16px;
      font-style: italic;
      color: rgb(145, 145, 145);
}


