<nav>
  <ul class="menu-ul">
    <li class="menu-li"><a href="{{ .Site.BaseURL }}" class="menu-link">WORKS</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/about" class="menu-link">ABOUT</a></li>
    <li class="menu-li"><a href="/design-portfolio/docs/burak-turkoz-cv.pdf" download="burak-turkoz-cv.pdf" class="menu-link">CV</a></li>
    <li class="menu-li"><a href="{{ .Site.BaseURL }}/vcd-portfolio" class="menu-link">VCD WORKS</a></li>
    <li class="menu-li"><a href="https://fabacademy.org/2024/labs/aalto/students/burak-turkoz/" class="menu-link">FAB ACADEMY</a></li>
    <li class="menu-li align-right"><a href="{{ .Site.BaseURL }}/contact" class="menu-link">CONTACT</a></li>
  </ul>
</nav>