<a href="{{ .Get "link" }}" class="box-link">
  <div class="box {{ .Get "no" }}"> 
    <div class="hover-image">
      <img src="{{ .Get "hoverImage" }}" alt="{{ .Get "alt" }}">
    </div>
    <div class="box-text">
      <h3 class="box-title">{{ .Get "title" }}</h3>
      <h4 class="box-subtitle">{{ .Get "subtitle" }}</h4>
      <p class="box-paragraph">{{ .Inner }}</p>
    </div>
    <div class="box-image">
      <img src="{{ .Get "image" }}" alt="{{ .Get "alt" }}">
    </div>
  </div>
</a>
