{{ if .Get "link" }}
  <p class="project-type-subtitle" style="margin-top: 10px; margin-bottom: 15px; margin-right: 40px; margin-left: 40px"><a href="{{ .Get "link" }}">{{ .Get "text" }}</a></p>
{{ else }}
  <p class="project-type-subtitle" style="margin-top: 10px; margin-bottom: 15px; margin-right: 40px; margin-left: 40px">{{ .Get "text" }}</p>
{{ end }}
