<style>
  .video-container {
      display: flex;
      justify-content: center;
  }
  video {
      width: 60%; /* Adjust the width as needed */
  }

  .video-text {
        text-align: center;
        font-size: 16px;
        font-style: italic;
        color: rgb(145, 145, 145);
    }
</style>

<div class="video-container">
  <video controls>
      <source src="{{ .Get `src` }}" type="video/mp4">
  </video>
</div>
<p class="video-text">{{ .Inner }}</p>
